@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
    font-family: 'Press Start 2P', cursive;
    color: red; /*#880808*/
    font-size: 50px;
    text-align: center;
}

body {
    background-color: grey;
  }
  
  #field {
    background-color: white;
    height: 450px;
    width: 90%;
    margin: 80px auto;
    border-style: outset;
    border-color: indianred;
  }
  
  #ball {
    background-color: greenyellow;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
  }